<div class="row">
    <div class="col-10">
        <div class="member-title">Liste des membres</div>
    </div>
    <div class="col-2">
        <!-- Button trigger modal -->
        <button type="button" class="btn add-member-button" data-toggle="modal" data-target="#new">Nouveau</button>
        <!-- Modal -->
        <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un Membre</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="form" >
                            <div>
                                <label for="name">Nom</label>
                                <input class="form-control" id="name" type="text" formControlName="name">
                            </div>
                            <div>
                                <label for="role">Rôle</label>
                                <input class="form-control" id="role" type="text" formControlName="role">
                            </div>

                            <div>
                                <label for="level"> Niveau d'expérience </label>
                                <input class="form-control" id="level" type="text" formControlName="level">
                            </div>

                            <button type="submit" class="btn modal-submit-button" data-dismiss="modal" (click)="onSubmit(form.value)">Ajouter</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <ul class="list-group">
        <app-member-item *ngFor="let member of members" [currentMember]="member"
            [currentProjectId]="currentProject.getId()" (update)="updateMembers()"></app-member-item>
    </ul>
</div>