<div class="customized-card ">
    <div class="card-header" [ngClass]="getColor()">
    </div>
    <div class="customized-card-body">
        <div class="customized-card-title">{{test.getName()}}</div>
        <div class="customized-card-values">
            Dernière excecution :
            {{test.getLastExecution() === null ? "jamais" : test.getLastExecution()}}
        </div>
        <div class="customized-card-values">
            {{test.getDescription()}}
        </div>

        <div class="row">
            <div class="col"><button class="btn valid-button" (click)="changeState('validate')">Valider</button> </div>
            <div class="col"><button class="btn invalid-button" (click)="changeState('refused')">Refuser</button></div>
            <div class="col">
                <app-edit-test-form [test]="test"></app-edit-test-form>
            </div>
            <div class="col"><button class="btn delete-button" (click)="onDelete()">Supprimer</button></div>
        </div>
    </div>

</div>