
.valid-button{
    background: #78be5c;
    color: #ffffff;
}

.invalid-button{
    background: #b32e2e;
    color: #ffffff;
}

.customized-card{
    margin: 2%;
    padding: 1%;
}

.customized-card-title{
    font-size: larger;
    font-weight: bold;
    text-align: left;
}

.customized-card-values{
    color: #2d5867;
}