<div class="list-group-item my-2 rounded" ng-hide="expression">
    <div class ="row">
        <div class ="row">
            <button type="button" class="btn btn-primary ml-2 mt-2" data-toggle="modal" [attr.data-target]="'#user'+currentMember.user">
                Membre n°: {{currentMember.getUser()}}
            </button>
        </div>
        <div class ="row">
            <div class ="col-6">
                Role : <br> {{currentMember.getRole()}}
            </div>
            <div class ="col-6">
                Level : <br> {{currentMember.getLevel()}}
            </div>
            <button type = "button" class= "btn btn-danger ml-1 mt-2" (click)= "deleteMember()">Supprimer</button>
        </div>
        <div class="modal fade" [attr.id]="'user'+currentMember.user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                            <div>
                                <label for="role">
                                    role
                                </label>
                                <input id="role" type="text" formControlName="role"></div>

                            <div>
                                <label for="level">
                                    level
                                </label>
                                <input id="level" type="text" formControlName="level"></div>

                            <button type="submit" class="button">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>