<div class="list-group-item">
    <div class="customized-card rounded" style="width: 18rem;">
        <div class="customized-card-header">
            <button type="button" class="btn member-name-button" data-toggle="modal"
                [attr.data-target]="'#user'+currentMember.user">
                {{currentMember.getName()}}
            </button>
            <button type="button" class="btn delete-button float-right" (click)="deleteMember()">Supprimer</button>
        </div>
        <div class="customized-card-body">
            <div class="a">
                <b>Rôle</b> : {{currentMember.getRole()}}
            </div>
            <div class="a">
                <b>Level</b> : {{currentMember.getLevel()}}
            </div>
        </div>
        <div class="modal fade" [attr.id]="'user'+currentMember.user" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                            <div>
                                <label class="form-label" for="role">
                                    Rôle
                                </label>
                                <input id="role" type="text" formControlName="role"></div>

                            <div>
                                <label class="form-label" for="level">
                                    Niveau d'expérience
                                </label>
                                <input id="level" type="text" formControlName="level"></div>

                            <button type="submit" class="btn modal-submit-button">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>