<div class="howto_head">
    Documentation du site
</div>
<div class="howto_sections">
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#project" id="project">
                Projects
            </a>
        </div>
        <div class="howto_section_contents">
            <div>
                Cette page regroupe les différents projets existants. Chaque projet est
                représenté par son nom et sa description. On peut voir « l’avancé » d’un
                projet (pourcentage de tasks réalisées) grâce à une barre de progression à
                droite de chaque projets.
                <br />
            </div>
            <div>
                <br />
            </div>
            <p>
                <strong>Créer un nouveau projet :</strong>
            </p>
            <p>
                - Cliquer sur le bouton « Nouveau projet » pour afficher le formulaire.
            </p>
            <p>
                - Remplir les champs « Nom » et « Description » du formulaire (attention :
                deux projets ne peuvent avoir un même nom )
            </p>
            <p>
                - Cliquer sur le bouton « Enregistrer » pour fermer le formulaire et
                ajouter le nouveau projet.
            </p>
            <p>
                - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                l’extérieur du formulaire entraînera la fermeture de celui-ci sans l’ajout
                du nouveau projet.
            </p>
            <p>
                <strong>Éditer un projet existant :</strong>
            </p>
            <p>
                - Cliquer sur le bouton « Éditer » du projet correspondant pour afficher le
                formulaire pré-rempli de modification.
            </p>
            <p>
                - Réaliser les modifications voulues (attention : le changement du nom du
                projet pour un nom déjà utilisé entraînera la non-validation des
                modifications)
            </p>
            <p>
                - Cliquer sur le bouton « Enregistre » pour fermer le formulaire et
                appliquer les modifications réalisées.
            </p>
            <p>
                - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                l’extérieur du formulaire entraînera la fermeture de celui-ci sans l’ajout
                du nouveau projet.
            </p>
            <p>
                <strong>Supprimer un projet existant :</strong>
            </p>
            <p>
                -Cliquer sur le bouton « Supprimer » du projet correspondant (attention :
                l’action est immédiate et irréversible)
            </p>
            <p>
                <strong>Rechercher un projet existant :</strong>
            </p>
            <p>
                - Entrer le(s) mot(s) clé(s) dans la barre de recherche.
            </p>
            <p>
                - Cliquer sur le bouton « Rechercher » pour mettre à jour la liste des
                projets.
            </p>
            <p>
                - Cliquer sur le bouton « Annuler la recherche » remettra la liste à son
                état initiale. (il n’est pas nécessaire de cliquer sur ce bouton pour
                réaliser une nouvelle recherche il suffit de changer la recherche dans la
                barre de recherche et cliquer sur le bouton « Rechercher »)
            </p>
            <p>
                <strong>Accéder à un projet :</strong>
            </p>
            <p>
                - Cliquer sur le titre du projet en question ouvrira le projet
            </p>
            <p>
                - Cliquer sur le dernier onglet du menu à droite (onglet projets) permet de
                revenir en arrière.
            </p>

        </div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#backlog" id="backlog">
                Backlog
            </a>
        </div>
        <div class="howto_section_contents">
            <p>La section Backlog du projet permet de créer, de modifier et d'organiser des user stories dans des
                sprints.</p>
            <p>Il est donc possible de créer des sprints, puis d'en démarrer un. Il sera accessible dans la section <a
                    href="how-to#active_sprint">Active Sprint</a></p>
        </div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#tasks" id="tasks">
                Tasks
            </a>
        </div>
        <div class="howto_section_contents">
            <p>La section Tasks du projet permet de créer, de modifier et de gérer les tâches du projet. Les tâches
                peuvent se trouver dans 3 colonnes :</p>
            <p><b>TODO</b> : Personne ne travaille sur cette tâche.</p>
            <p><b>DOING</b> : La tâche est spécifiée et un développeur s'en charge.</p>
            <p><b>DONE</b> : Toutes les DOD de la tâche sont satisfaites.</p>
            <p>Une tâche doit contenir des Definiton of Done avant de pouvoir être passée en DOING, et celles-ci doivent
                être satisfaites pour le passer en DONE.</p>
            <p>Une tâche peut être dépendante de plusieurs autres tâches. Une tâche ne peut pas être dépendante d'une
                tâche qui est déjà dépendante de celle-ci.</p>
        </div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#planification" id="planification">
                Planification
            </a>
        </div>
        <div class="howto_section_contents">Explications sur la planification...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#active_sprint" id="active_sprint">
                Sprint Actif
            </a>
        </div>
        <div class="howto_section_contents">Explications sur le sprint actif...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#tests" id="tests">
                Tests
            </a>
        </div>
        <div class="howto_section_contents">Explications sur les tests...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#release" id="release">
                Release
            </a>
        </div>
        <div class="howto_section_contents">Explications sur la release...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#documentation" id="documentation">
                Documentation
            </a>
        </div>
        <div class="howto_section_contents">Explications sur la documentation...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#statistics" id="statistics">
                Statistics
            </a>
        </div>
        <div class="howto_section_contents">Explications sur les statistiques...</div>
    </div>
</div>