<div class="howto_head">
    Documentation du site
</div>
<div class="howto_sections">
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#project">
                Projects
            </a>
        </div>
        <div class="howto_section_contents">Explications sur les projets...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#backlog">
                Backlog
            </a>
        </div>
        <div class="howto_section_contents">Explications sur le backlog...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#tasks">
                Tasks
            </a>
        </div>
        <div class="howto_section_contents">Explications sur les tasks...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#planification">
                Planification
            </a>
        </div>
        <div class="howto_section_contents">Explications sur la planification...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#active_sprint">
                Active Sprint
            </a>
        </div>
        <div class="howto_section_contents">Explications sur le sprint actif...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#tests">
                Tests
            </a>
        </div>
        <div class="howto_section_contents">Explications sur les tests...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#release">
                Release
            </a>
        </div>
        <div class="howto_section_contents">Explications sur la release...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#documentation">
                Documentation
            </a>
        </div>
        <div class="howto_section_contents">Explications sur la documentation...</div>
    </div>
    <div class="howto_projects">
        <div class="howto_section_head">
            <a class="howto_anchor" href="how-to#statistics">
                Statistics
            </a>
        </div>
        <div class="howto_section_contents">Explications sur les statistiques...</div>
    </div>
</div>