<div class="container-fluid">
    <div class="howto_head">
        Documentation du site
    </div>
    <div class="howto_sections">
        <div class="howto_projects">
            <div class="howto_section_head">
                <a class="howto_anchor" href="how-to#project" id="project">
                    Projects
                </a>
            </div>
            <div class="howto_section_contents">
                <div>
                    Cette page regroupe les différents projets existants. Chaque projet est
                    représenté par son nom et sa description. On peut voir « l’avancé » d’un
                    projet (pourcentage de tasks réalisées) grâce à une barre de progression à
                    droite de chaque projets.
                    <br />
                </div>
                <div>
                    <br />
                </div>
                <p>
                    <strong>Créer un nouveau projet :</strong>
                </p>
                <p>
                    - Cliquer sur le bouton « Nouveau projet » pour afficher le formulaire.
                </p>
                <p>
                    - Remplir les champs « Nom » et « Description » du formulaire (attention :
                    deux projets ne peuvent avoir un même nom )
                </p>
                <p>
                    - Cliquer sur le bouton « Enregistrer » pour fermer le formulaire et
                    ajouter le nouveau projet.
                </p>
                <p>
                    - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                    l’extérieur du formulaire entraînera la fermeture de celui-ci sans l’ajout
                    du nouveau projet.
                </p>
                <p>
                    <strong>Éditer un projet existant :</strong>
                </p>
                <p>
                    - Cliquer sur le bouton « Éditer » du projet correspondant pour afficher le
                    formulaire pré-rempli de modification.
                </p>
                <p>
                    - Réaliser les modifications voulues (attention : le changement du nom du
                    projet pour un nom déjà utilisé entraînera la non-validation des
                    modifications)
                </p>
                <p>
                    - Cliquer sur le bouton « Enregistre » pour fermer le formulaire et
                    appliquer les modifications réalisées.
                </p>
                <p>
                    - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                    l’extérieur du formulaire entraînera la fermeture de celui-ci sans l’ajout
                    du nouveau projet.
                </p>
                <p>
                    <strong>Supprimer un projet existant :</strong>
                </p>
                <p>
                    -Cliquer sur le bouton « Supprimer » du projet correspondant (attention :
                    l’action est immédiate et irréversible)
                </p>
                <p>
                    <strong>Rechercher un projet existant :</strong>
                </p>
                <p>
                    - Entrer le(s) mot(s) clé(s) dans la barre de recherche.
                </p>
                <p>
                    - Cliquer sur le bouton « Rechercher » pour mettre à jour la liste des
                    projets.
                </p>
                <p>
                    - Cliquer sur le bouton « Annuler la recherche » remettra la liste à son
                    état initiale. (il n’est pas nécessaire de cliquer sur ce bouton pour
                    réaliser une nouvelle recherche il suffit de changer la recherche dans la
                    barre de recherche et cliquer sur le bouton « Rechercher »)
                </p>
                <p>
                    <strong>Accéder à un projet :</strong>
                </p>
                <p>
                    - Cliquer sur le titre du projet en question ouvrira le projet
                </p>
                <p>
                    - Cliquer sur le dernier onglet du menu à droite (onglet projets) permet de
                    revenir en arrière.
                </p>

            </div>
        </div>
        <div class="howto_projects">
            <div class="howto_section_head">
                <a class="howto_anchor" href="how-to#backlog" id="backlog">
                    Backlog
                </a>
            </div>
            <div class="howto_section_contents">
                <p>
                    Cette section correspond au Backlog. C’est ici que vous trouverez les
                    différentes User Stories du projet ainsi que leur répartition dans les
                    différents sprints.
                </p>
                <p>
                    <strong>Créer une nouvelle User Story</strong>
                </p>
                <p>
                    - Cliquer sur le bouton « Ajouter une us » afin d’ouvrir le formulaire de
                    création d’US.
                </p>
                <p>
                    - Remplir les différents champs du formulaire.
                </p>
                <p>
                    - Cliquer sur le bouton ajouter pour fermer le formulaire et ajouter la
                    nouvelle US. Celle-ci sera par défaut placé dans le sprint « User Stories
                    non planifiées »
                </p>
                <p>
                    - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                    l’extérieur du formulaire entraînera la fermeture de celui-ci sans l’ajout
                    de la nouvelle us.
                </p>
                <p>
                    <strong>Éditer une User Story existante :</strong>
                </p>
                <p>
                    - Cliquer sur le bouton « Éditer » de l’us correspondante pour afficher le
                    formulaire pré-rempli de modification.
                </p>
                <p>
                    - Réaliser les modifications voulues.
                </p>
                <p>
                    - Cliquer sur le bouton «Éditer» pour fermer le formulaire et appliquer les
                    modifications réalisées.
                </p>
                <p>
                    - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                    l’extérieur du formulaire entraînera la fermeture de celui-ci sans
                    l’édition du nouveau projet.
                </p>
                <p>
                    <strong>Déplacer une User Story vers un autre sprint :</strong>
                </p>
                <p>
                    - Réaliser un clique sur l’us souhaitée et maintenir celui-ci tout en
                    déplaçant l’us vers le sprint choisi puis relâcher le clique.
                </p>
                <p>
                    - Relâcher l’us sur une zone non valide n’entraînera aucune action de
                    déplacement de l’us.
                </p>
                <p>
                    <strong>Créer un nouveau sprint :</strong>
                    <br />
                    - Cliquer sur le bouton « Ajouter un sprint» afin d’ouvrir le formulaire de
                    création de sprint.
                </p>
                <p>
                    - Renseigner le nom du nouveau sprint dans le formulaire.
                </p>
                <p>
                    - Cliquer sur le bouton ajouter pour fermer le formulaire et ajouter le
                    nouveau sprint. Celui-ci sera par défaut placé au dessus du sprint « User
                    Stories non planifiées »
                </p>
                <p>
                    - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                    l’extérieur du formulaire entraînera la fermeture de celui-ci sans l’ajout
                    du nouveau sprint.
                </p>
                <p>
                    <strong>Démarrer un sprint :</strong>
                </p>
                <p>
                    -Cliquer sur le bouton « Démarrer » du sprint correspondant ce qui ouvrira
                    la page sprint actif. (attention : une fois un sprint lancé il n’est plus
                    possible de revenir en arrière. Son lancement entraînera sa fermeture
                    totale et aucune action de modification ne sera plus possible.) Un seul
                    sprint ne peut être démarré à la fois.
                </p>

            </div>
        </div>
        <div class="howto_projects">
            <div class="howto_section_head">
                <a class="howto_anchor" href="how-to#tasks" id="tasks">
                    Tasks
                </a>
            </div>
            <div class="howto_section_contents">
                <p>
                    Cette section contient toutes les tâches du projet. C’est dans cette
                    section que l’on connaît l’état de chaque tâches. Il existe 3 états
                    possibles pour une tâche : Todo, Doing et Done. Chaque tâche possède un
                    label correspondant à l’état de son Dod (pas de Dod : « ! » , Dod en cours
                    : « nb d’item validé sur nombre total » et Dod entièrement validé : « ok »)
                </p>
                <p>
                    Une estimation du temps de réalisation des tâches est présent et est
                    actualisé à chaque changement (ajout/édition d’une tâche).
                </p>
                <p>
                    <strong>
                        Ajouter une tâche :
                        <br />
                    </strong>
                    - Cliquer sur le bouton « + » se trouvant à droite du titre de la section «
                    Todo » pour afficher le formulaire de création.
                    <br />
                    - Compléter les informations du formulaire.
                    <br />
                    - Cliquer sur le bouton «Ajouter» pour fermer le formulaire et ajoute la
                    tâche dans la section « Todo ».
                </p>
                <p>
                    - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                    l’extérieur du formulaire entraînera la fermeture de celui-ci sans l’ajout
                    de la nouvelle tâche.
                </p>
                <p>
                    <strong>Afficher les informations d’une tâche existante :</strong>
                </p>
                <p>
                    - Cliquer sur la tâche correspondante pour afficher une version complète
                    des information d’une tâche.
                </p>
                <p>
                    - Cliquer sur le bouton « - » à côté d’une dépendance (tâche ou Us)
                    permettra de supprimer celle-ci.
                </p>
                <p>
                    - Cliquer sur le bouton « + » après avoir fait un choix dans le menu
                    déroulant des dépendances (tâche ou Us) permettra d’ajouter celle ci.
                </p>
                <p>
                    - Entrer du texte dans la partie « Definition of done » et cliquer sur le
                    bouton « + » ajoutera une nouvelle ligne à la Dod.
                </p>
                <p>
                    <strong>Éditer une tâche existante :</strong>
                </p>
                <p>
                    - Cliquer sur la tâche correspondante.
                </p>
                <p>
                    - Cliquer sur le bouton « Modifier » pour afficher le formulaire.
                </p>
                <p>
                    - Modifier les informations du formulaire.
                </p>
                <p>
                    - Cliquer sur le bouton «Ajouter» pour fermer le formulaire et enregistrer
                    la modification .
                </p>
                <p>
                    - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                    l’extérieur du formulaire entraînera la fermeture de celui-ci sans faire
                    les modifications.
                </p>
                <p>
                    <strong>Déplacer une tâche :</strong>
                </p>
                <p>
                    - Réaliser un clique sur la tâche souhaitée et maintenir celui-ci tout en
                    déplaçant la tâche vers la section choisi puis relâcher le clique.
                    (attention : une tâche ne possédant pas de Dod ne peut être déplacée dans
                    la section Doing et une tâche n’ayant pas tous les items de son Dod de
                    validé ne pourra être déplacée dans la section Done)
                </p>
                <p>
                    - Relâcher la tâche sur une zone non valide n’entraînera aucune action de
                    déplacement de la tâche.
                </p>
                <p>
                    <strong>Filtrer les tâches :</strong>
                </p>
                <p>
                    - Cliquer sur le bouton « filtrer les tâches » pour faire s’afficher le
                    formulaire de filtre.
                </p>
                <p>
                    - Choisir le type de filtre pour faire afficher les options possible dans «
                    Choix ».
                </p>
                <p>
                    - Cliquer sur « Filtrer » pour appliquer le filtre.
                </p>
                <p>
                    - Cliquer sur le bouton « Annuler Filtre » pour afficher toutes les tâches.
                </p>

            </div>
        </div>
        <div class="howto_projects">
            <div class="howto_section_head">
                <a class="howto_anchor" href="how-to#planification" id="planification">
                    Planification
                </a>
            </div>
            <div class="howto_section_contents">
                <p>
                    Dans cette section il vous sera possible de visualiser les dépendances des
                    tâches du sprint actif ainsi qu’accéder à la gestion des membres du projet.
                </p>
                <p>
                    <strong>Ajouter un nouveau membre :</strong>
                </p>
                <p>
                    - Cliquer sur le bouton « Nouveau» afin d’ouvrir le formulaire de création
                    de membre.
                </p>
                <p>
                    - Remplir les différents champs du formulaire.
                </p>
                <p>
                    - Cliquer sur le bouton ajouter pour fermer le formulaire et ajouter le
                    nouveau membre.
                </p>
                <p>
                    - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                    l’extérieur du formulaire entraînera la fermeture de celui-ci sans l’ajout
                    du nouveau sprint.
                </p>
                <p>
                    <strong>Éditer un membre existant :</strong>
                </p>
                <p>
                    - Cliquer sur le nom du membre en question pour ouvrir le formulaire
                    d’édition.
                </p>
                <p>
                    - Remplir les champs du formulaire.
                </p>
                <p>
                    - Cliquer sur le bouton « Enregistrer » pour fermer le formulaire et
                    modifier le membre.
                </p>
                <p>
                    - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                    l’extérieur du formulaire entraînera la fermeture de celui-ci sans l’ajout
                    du nouveau sprint.
                </p>
                <p>
                    <strong>Accéder au graphique de dépendance :</strong>
                </p>
                <p>
                    - Cliquer sur le bouton « Démarrer » du sprint que vous voulez rendre
                    actif.
                </p>
                <p>
                    - Aller dans la section planification.
                </p>
                <p>
                    - Déplacer les tâches en cliquant dessus et en effectuant en même temps des
                    mouvements de déplacement avec la souris.
                </p>
                <p>
                    - Déplacer le graphique pour plus de visibilité en effectuant un clique sur
                    une zone sans tâche (sans point de couleur) tout en bougeant la souris.
                </p>

            </div>
        </div>
        <div class="howto_projects">
            <div class="howto_section_head">
                <a class="howto_anchor" href="how-to#active_sprint" id="active_sprint">
                    Sprint Actif
                </a>
            </div>
            <div class="howto_section_contents">
                <p>
                    Dans cette section se trouve un récapitulatif du sprint actif. On peut y
                    voir les us concernées et les tâches associées à celles-ci.
                </p>
                <p>
                    <strong>Accéder à la liste des tâches correspondantes :</strong>
                </p>
                <p>
                    -Cliquer sur l’User Story correspondante pour faire apparaître le nom des
                    tâches associées à cette us.
                </p>
                <p>
                    - Cliquer à nouveau sur l’User Story pour faire disparaître les tâches.
                </p>
                <p>
                    <strong>Clôturer un sprint :</strong>
                </p>
                <p>
                    -Cliquer sur le bouton « Clôturer ». Une redirection vers Backlog est
                    réalisée. Le sprint clôturé n’apparaît plus.
                </p>

            </div>
        </div>
        <div class="howto_projects">
            <div class="howto_section_head">
                <a class="howto_anchor" href="how-to#tests" id="tests">
                    Tests
                </a>
            </div>
            <div class="howto_section_contents">
                <p>
                    Dans cette section se trouve les différents tests du projet ainsi que leur
                    état.
                </p>
                <p>
                    <strong>Ajouter un nouveau Test :</strong>
                </p>
                <p>
                    - Cliquer sur le bouton «Ajouter un test» afin d’ouvrir le formulaire de
                    création de test.
                </p>
                <p>
                    - Remplir les différents champs du formulaire.
                </p>
                <p>
                    - Cliquer sur le bouton ajouter pour fermer le formulaire et ajouter le
                    nouveau test.
                </p>
                <p>
                    - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                    l’extérieur du formulaire entraînera la fermeture de celui-ci sans l’ajout
                    du nouveau sprint.
                </p>
                <p>
                    <strong>Valider/Refuser un test :</strong>
                </p>
                <p>
                    -Cliquer sur le bouton « Valider » (« Refuser ») du test correspondant. Le
                    liseré au dessus du test prend la couleur correspondante, la date de
                    dernière exécution se met à jour et la jauge globale est actualisée.
                    (attention : une fois un test validé/refusé il ne peut revenir à l’état
                    neutre)
                </p>
                <p>
                    <strong>Éditer</strong>
                    <strong> un </strong>
                    <strong>test</strong>
                    <strong> existant :</strong>
                </p>
                <p>
                    - Cliquer sur le bouton « éditer » du test en question pour ouvrir le
                    formulaire d’édition.
                </p>
                <p>
                    - Modifier les champs du formulaire.
                </p>
                <p>
                    - Cliquer sur le bouton « Enregistrer » pour fermer le formulaire et
                    modifier le test.
                </p>
                <p>
                    - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                    l’extérieur du formulaire entraînera la fermeture de celui-ci sans l’ajout
                    du nouveau test.
                </p>
                <p>
                    <strong>Supprimer un test existant :</strong>
                </p>
                <p>
                    -Cliquer sur le bouton « Supprimer » du test (attention : le test est
                    automatiquement retiré de la liste, l’action est irréversible)
                </p>

            </div>
        </div>
        <div class="howto_projects">
            <div class="howto_section_head">
                <a class="howto_anchor" href="how-to#release" id="release">
                    Release
                </a>
            </div>
            <div class="howto_section_contents">
                <p>
                    Dans cette section sont affichées les informations des différentes release
                    réalisées pour un projet.
                </p>
                <p>
                    <strong>Ajouter une nouvelle release :</strong>
                </p>
                <p>
                    -Cliquer sur le bouton « Ajouter une release » pour afficher le formulaire.
                </p>
                <p>
                    - Entrer les information nécessaires.
                </p>
                <p>
                    - Cliquer sur le bouton « Enregistrer » pour fermer le formulaire et ajoute
                    la release.
                </p>
                <p>
                    - Cliquer sur la croix en haut à droite du formulaire ou sur une zone à
                    l’extérieur du formulaire entraînera la fermeture de celui-ci sans l’ajout
                    de la nouvelle release.
                </p>
                <p>
                    <strong>Supprimer une release existante :</strong>
                </p>
                <p>
                    -Cliquer sur le bouton « Supprimer » de la release (attention : la release
                    est automatiquement retirée de la liste, l’action est irréversible)
                </p>

            </div>
        </div>
        <div class="howto_projects">
            <div class="howto_section_head">
                <a class="howto_anchor" href="how-to#documentation" id="documentation">
                    Documentation
                </a>
            </div>
            <div class="howto_section_contents">Explications sur la documentation...</div>
        </div>
        <div class="howto_projects">
            <div class="howto_section_head">
                <a class="howto_anchor" href="how-to#statistics" id="statistics">
                    Statistics
                </a>
            </div>
            <div class="howto_section_contents">Explications sur les statistiques...</div>
        </div>
    </div>
</div>