.container{
    border-radius: 20px;
    border-style: solid;
    border-color: #d6e2ee;
    border-width: 2px;
    background: #fafaf8;
}

.release-number{
    font:  Sans-Serif;
    color:#6b6760;
    margin-top: 1%;
}

.release-title{
    font: Sans-Serif;
    color:#6b685b ;
    margin-top: 1%;
}

.release-description{
    font: Sans-Serif;
    color:#6b685b ;
    margin-top: 1%;
}

.release-values{
    font :  Sans-Serif;
    color:#6b605b;
    margin-top: 1%;
}