<div class="container customized-card">
    <div class="row">
        <div class="col-3 customized-card-values" id='release'>
            <h3>Release-{{releaseItem.getId()}}</h3>
        </div>
        <div class="col-3 customized-card-values">
            <h3>{{releaseItem.getTitle()}}</h3>
        </div>
        <div class="col-6 customized-card-values">
            <h3>{{releaseItem.getDescription()}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4 customized-card-values">Version : {{this.getFullVersion()}}</div>
        <div class="col-4 customized-card-values"> Liens : <a
                href={{releaseItem.getLink()}}>{{releaseItem.getLink()}}</a></div>
        <div class="col-4 customized-card-values" id='date'>Date de Création : {{releaseItem.getCreationDate()}}</div>
    </div>
    <div class="container">
        <div class="common-title"> <br>Us implémentées:</div>
        <app-us-card *ngFor="let userStory of userStories" [us]="userStory" [disableEdit]=true></app-us-card>
    </div>
    <div class="col"><button class="btn delete-button float-right" (click)="onDelete()">Supprimer</button></div>

</div>