.modal-submit-button{
    background: #6b605b;
    color: #ffffff;
    font-weight: bold Sans-Serif;
}


.add-sprint-button{
    background: #6b605b;
    color: #ffffff;
    font-weight: bold;
}

.add-sprint-button:hover{
   background: #6b6760;
}
