.container {

    border-radius: 20px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;

    background-color: #ede8d1;

    margin-top: 1%;
    margin-bottom: 1%;
}

.us-number{
    font:  Sans-Serif;
    color:#6b6760;
    margin-top: 1%;
}

.us-title{
    font: Sans-Serif;
    color:#6b685b ;
    margin-top: 1%;
}

.us-values{
    font :  Sans-Serif;
    color:#6b605b;
    margin-top: 1%;
}