/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html,body{
    background: rgb(45,88,103);
    height: 100%;
    width: 100%; 
    
}
.wrapper{ 
    background: rgb(45,88,103);
    background: linear-gradient(0deg, rgba(45,88,103,1) 0%, rgba(118,151,160,1) 30%, rgba(148,176,183,1) 50%, rgba(191,215,215,1) 70%, rgba(240,243,242,1) 100%);
    padding-right: 15px;
    padding-left: 15px;

    min-width: 100%;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.presentationLogo{
    max-height: 70%;
    max-width: 70%;
}

.logo{
    max-width:25%;
    max-height: 25%;
}

.howto_link{
    line-height: 3;
    font-size:2vmin;
}

a {
  color: #4c9f70;
  }

.section-title{
    font-size: 3vmax;
    color: #60666b;
    margin-top: 15px;
}

/*card*/
.customized-card{
    background: #f5f5f5;
    border-radius: 4px;
    padding-bottom: 1vmin;
}

.customized-card-title{
    font: Sans-Serif;
    color : #2d5867;
    font-weight: 300;
    text-align: center;
}

.customized-card-values{
    font : Sans-Serif;
    color: #ddebee;
    text-align: left !important;
}

.customized-card-header{
    border-radius :5px;
    background: #6f8a8f;

}

.customized-card-body{
    background : #f5f5f5;
}

/*forms*/


.modal-header{
    font:bolder 2.5vmin Sans-Serif;
    color: #293645;
    background: #93a7ab;
}

.modal-body{
    background: #e6eae9;
    font: 2vmin Sans-Serif;
}

.form-label{
    margin-top: 2vmin;
}

.modal-submit-button{
    background: #6b8393 !important;
    color: #ffffff !important;
    font-weight: bold Sans-Serif;
    margin-top:2vmin;
}

.modal-submit-button:hover{
    background: #4c8c9c !important;
}

.modal-footer{
    background: #dbd7c3;
    border-radius: 4px;
}


/*buttons*/

.edit-button{
    background: #94badd !important;
    color :#394a45 !important ;
}

.delete-button{
    background: #7697a0 !important;
    color: #394a45 !important;

}

.edit-button:hover{
    background:  #72baff  !important;
}

.delete-button:hover{
    background:#8bb6c0 !important;
}

.add-button{
    background: #4c8c9c !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

.add-button:hover{
   background: #68a8c5 !important;
}


.common-button{

    background: #59a9be !important;
    color :#2d5867 !important;
}

.common-button:hover{
    background: #72bbff !important;
}

/*random*/
.common-title{
    font :  2vmin Sans-Serif;
    color : #40556b;
}