/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html,body{
    background: rgb(74,112,122);
    height: 100%;
    width: 100%; 
    
}
.wrapper{ 
    background: rgb(74,112,122);
    background: linear-gradient(0deg, rgba(74,112,122,1) 0%, rgba(118,151,160,1) 20%, rgba(148,176,183,1) 40%, rgba(194,200,197,1) 55%, rgba(221,221,218,1) 70%, rgba(248,248,248,1) 90%); 
    padding-right: 15px;
    padding-left: 15px;

    min-width: 100%;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.presentationLogo{
    max-height: 70%;
    max-width: 70%;
}

.logo{
    max-width:25%;
    max-height: 25%;
}

.howto_link{
    line-height: 3;
    font-size:2vmin;

}

a {
  color: #40556b;
  }

.section-title{
    font-size: 3vmax;
    color: #60666b;
    margin-top: 15px;
}

/*card*/
.customized-card{
    border-radius: 5px;
    background: #fafaf8;
}

.customized-card-title{
    font: Sans-Serif;
    color : #334456;
    font-weight: 300;
}

.customized-card-values{
    font :  Sans-Serif;
    color:#6b605b;
}

.customized-card-header{
    border-radius :5px;
    background: #334456;
}

.customized-card-body{
    background : #6b605b;
}

/*forms*/

.modal-header{
    font:bold 2vmin Sans-Serif;
    color: #293645;
    background: #b8b193;
}

.modal-body{
    background: #dbd7c3;
    font: 1.5vmin Sans-Serif;
    border-radius: 4px;
}

.form-label{
    margin-top: 2vmin;
}

.modal-submit-button{
    background: #6b605b !important;
    color: #ffffff;
    font-weight: bold Sans-Serif;
    margin-top:2vmin;
}

.modal-footer{
    background: #dbd7c3;
    border-radius: 4px;
}


/*buttons*/

.edit-button{
    background: #8dbbeb !important;
    color :#293645;
}

.delete-button{
    background: #b8a281 !important;
    color: #293645;

}

.edit-button:hover{
    background: #72bbff !important;
}

.delete-button:hover{
    background:#c8a571 !important;
}

.add-button{
    background: #6b605b !important;
    color: #ffffff;
    font-weight: bold;
}

.add-button:hover{
   background: #6b6760 !important;
}


.common-button{

    background: #b89f93 !important;
    color :#293645;
}

.common-button:hover{
    background: #72bbff !important;
}

/*random*/
.common-title{
    font :  2vmin Sans-Serif;
    color : #40556b
    
}