<div class="row">
    <!-- Button trigger modal -->
    <button type="button" class="btn filter-button" data-toggle="modal" data-target="#new">Filtrer les tâches</button>
    <button type="button" class="btn cancel-button" (click)="refreshTasks()">Annuler Filtre</button>
    <!-- Modal -->
    <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog task-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filtrer les Tasks</h5>
                    <button type="button" class="close close-task-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="taskFilterForm">
                        <div>
                            <label for="type">Type de Filtre</label>
                            <select id="type" type="text" class="form-control" formControlName="type"
                                (change)="onChange($event.target.value)">
                                <option value="member">Membre</option>
                                <option value="sprint">Sprint</option>
                            </select>
                        </div>
                        <div>
                            <label for="value"> Choix</label>
                            <select id="select-value" value='number' class="form-control" formControlName="value">
                                <option *ngFor="let value of values" [ngValue]="value">{{ value }}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn modal-submit-button" data-dismiss="modal"
                            (click)="onSubmitFilter(taskFilterForm.value)">Filtrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col">
        <div class="card-header">
            <h2>Todo
                <button type="button" id='newbuttontask' class="btn add-button float-right" data-toggle="modal"
                    data-target="#newTask">+</button>
            </h2>
        </div>
        <div class="dropzone" cdkDropList id="TODO" #TODO="cdkDropList" [cdkDropListData]="tasksTodo"
            [cdkDropListConnectedTo]="[DOING, DONE]" (cdkDropListDropped)="dropped($event)">
            <div class="block">
                <app-task-card *ngFor="let task of tasksTodo" [task]="task" [tasks]="tasks" (stateChange)="updateTask()"
                    cdkDrag>
                </app-task-card>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card-header">
            <h2>Doing</h2>
        </div>
        <div class="dropzone" cdkDropList id="DOING" #DOING="cdkDropList" [cdkDropListData]="tasksDoing"
            [cdkDropListConnectedTo]="[TODO, DONE]" (cdkDropListDropped)="dropped($event)">
            <div class="block">
                <app-task-card *ngFor="let task of tasksDoing" [task]="task" [tasks]="tasks"
                    (stateChange)="updateTask()" cdkDrag>
                </app-task-card>
            </div>
        </div>
    </div>
    <div class="col ">
        <div class="card-header">
            <h2>Done</h2>
        </div>
        <div class="dropzone" cdkDropList id="DONE" #DONE="cdkDropList" [cdkDropListData]="tasksDone"
            [cdkDropListConnectedTo]="[TODO, DOING]" (cdkDropListDropped)="dropped($event)">
            <div class="block">
                <app-task-card *ngFor="let task of tasksDone" [task]="task" [tasks]="tasks" (stateChange)="updateTask()"
                    cdkDrag>
                </app-task-card>
            </div>
        </div>
    </div>
</div>