.modal-submit-button{
    background: #6b605b;
    color: #ffffff;
    font-weight: bold Sans-Serif;
    margin-top:2vmin;
}

.add-test-button{
    background: #6b605b;
    color: #ffffff;
    font-weight: bold Sans-Serif;
    margin-top:2vmin;
}