<div class="modal fade" [attr.id]="'id'+task.getId()" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="emitExpand()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card customized-card">
                    <div class="customized-card-header">
                        <h5 class="customized-card-title">#{{task.getId()}} {{task.getTitle()}}</h5>
                    </div>
                    <div class="customized-card-body">
                        <div class="customized-card-values">
                            <div *ngIf="!modify">
                                <p *ngIf="task.getUsId()">User Story: #{{task.getUsId()}}</p>
                                <p *ngIf="!task.getUsId()">User Story: None</p>
                                <p>Estimation (en h.h): {{task.getDuration()}}</p>
                                <p>Status: {{task.getStatus()}}</p>
                                <p>Dépendant de:</p>
                                <div class='over'>
                                    <div class="pstate" *ngFor="let t of parentDependency">
                                        <button mat-stroked-button
                                            class="mat-focus-indicator mat-stroked-button mat-button-base mat-warn common-button"
                                            (click)="deleteParent(t)">-</button>
                                        #{{t.getId()}} : {{t.getTitle()}}
                                    </div>
                                </div>
                                <p>
                                    <form-field appearance="fill">
                                        <label class="form-label">Ajouter une dépendance</label>
                                        <select [(ngModel)]="selectedParentAdd" name="selectedParentAdd">
                                            <option value="undefined">
                                            </option>
                                            <option *ngFor="let t of possibleDependencies" [ngValue]="t">
                                                #{{t.getId()}} : {{t.getTitle()}}
                                            </option>
                                        </select>
                                    </form-field>
                                    <button mat-stroked-button
                                        class="mat-focus-indicator mat-stroked-button mat-button-base mat-primary common-button"
                                        (click)="addParent()">+</button>
                                </p>
                                <br>
                                <p>Tasks dépendantes:</p>
                                <div class='over'>
                                    <div class="cstate" *ngFor="let t of childrenDependency">
                                        <button mat-stroked-button
                                            class="mat-focus-indicator mat-stroked-button mat-button-base mat-warn common-button"
                                            (click)="deleteChild(t)">-</button>
                                        #{{t.getId()}} : {{t.getTitle()}}
                                    </div>
                                </div>
                                <p>
                                    <form-field appearance="fill">
                                        <label class="form-label">Ajouter une dépendance</label>
                                        <select [(ngModel)]="selectedChildAdd" name="selectedChildAdd">
                                            <option value="undefined">
                                            </option>
                                            <option *ngFor="let t of possibleDependencies" [ngValue]="t">
                                                #{{t.getId()}} : {{t.getTitle()}}
                                            </option>
                                        </select>
                                    </form-field>
                                    <button mat-stroked-button
                                        class="mat-focus-indicator mat-stroked-button mat-button-base mat-primary common-button"
                                        (click)="addChild()">+</button>
                                </p>
                                <p *ngIf="task.getUsId()">Membre: {{this.getMemberName()}}</p>
                                <p *ngIf="!task.getUsId()">Membre: personne</p>
                                <div class="customized-card-header "> Definiton of Done</div>
                                <div class="over">
                                    <div class="dodstate" *ngFor="let dod of dods">
                                        <div class="customized-card card">
                                            <mat-checkbox class="example-margin" [(ngModel)]="dod.state"
                                                (change)="updateDOD(dod)">
                                                <h6>{{dod.getDescription()}}</h6>
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="dodstate">
                                    <div class="card customized-card">
                                        <input [(ngModel)]="newDODText" />
                                        <button mat-stroked-button
                                            class="mat-focus-indicator mat-stroked-button mat-button-base mat-primary common-button"
                                            (click)="addDOD()">+</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modify" *ngIf="modify">
                                <form [formGroup]="form">
                                    <div>
                                        <label class="form-label" for="title">Titre</label>
                                        <input class="form-control" type="text" formControlName="title">
                                    </div>
                                    <div>
                                        <label class="form-label" for="usId">User Story</label>
                                        <select id="select-usId" type='number' class="form-control"
                                            formControlName="usId">
                                            <option value='null'>None</option>
                                            <option *ngFor="let usId of usIds" [ngValue]="usId">{{ usId }}</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label class="form-label" for="duration">Estimation (en h.h)</label>
                                        <input class="form-control" id="duration" type="text"
                                            formControlName="duration">
                                    </div>
                                    <div>
                                        <label class="form-label" for="status">Status</label>
                                        <select id="status" type="text" class="form-control" formControlName="status">
                                            <option value="TODO">TODO</option>
                                            <option value="DOING">DOING</option>
                                            <option value="DONE">DONE</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label class="form-label" for="member">Membre</label>
                                        <select id="select-member" class="form-control" formControlName="member">
                                            <option *ngFor="let m of projectMembers" [ngValue]="m.getUser()">
                                                {{ m.getName() }}</option>
                                        </select>
                                    </div>

                                    <button type="submit" class="btn modal-submit-button" (click)=onSubmit(form.value)
                                        data-dismiss="modal">Ajouter</button>

                                </form>
                            </div>
                            <p>
                                <button type="button" class="btn edit-button float-left" (click)=updateModify()
                                    *ngIf="!modify">Modifier</button>
                                <button type="button" class="btn delete-button float-right" (click)=delete()
                                    data-dismiss="modal"> Supprimer</button>
                            </p>
                        </div>

                    </div>

                </div>
            </div>


        </div>


    </div>
</div>