<div class="card m-4">
    <div class="card-header"></div>
    <div class="card-body">
        <h5 class="card-title">{{task.getTitle()}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            Id :
            {{task.getId()}}
        </h6>
        <p class="card-text">
            ProjectId: {{task.getProjectId()}}
            UsId:  {{task.getUsId()}}
            Duration: {{task.getDuration()}}
            Status: {{task.getStatus()}}
            Chiffrage: Not done
            Dépendances: Not done
            Type: Not done
            Member: Not done
        </p>

    </div>

</div>
