<div class="container">
    <div class="row">
        <div class="section-title col-10">Tests</div>
        <div class="howto_link">
            <a href="how-to#tests">Documentation</a>
        </div>
    </div>
    <div class="common-title">Avancée des tests :</div>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': successRate+'%'}" [attr.aria-valuenow]="successRate" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-light" role="progressbar" [ngStyle]="{'width': (100 - failureRate - successRate)+'%'}" [attr.aria-valuenow]="successRate" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': failureRate+'%'}" [attr.aria-valuenow]="failureRate" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <app-test-form></app-test-form>

        <app-test-item *ngFor="let test of tests" [test]="test" (stateChange)="updateTests()"></app-test-item>
</div>

