.project-name-button{
    color: #6b605b;
    font: bold 3vmin Sans-Serif;
}

.project-name-button:hover{
    text-decoration: underline;
}

.project-info{
    font: 2.5vmin Sans-Serif;
    color: #60666b
}

.edit-button{
    margin-left : 2vmin;
    margin-top:2vmin;
}

.delete-button{
    margin-left:2vmin;
    margin-top:2vmin;
}
