.project-name-button{
    color: #2d5867;
    font: bold 3vmin Sans-Serif;
}

.project-name-button:hover{
    text-decoration: underline;
}

.project-info{
    font: 2.5vmin Sans-Serif;
    color: #8a99a2
}

.edit-button{
    margin-left : 2vmin;
    margin-top:2vmin;
}

.delete-button{
    margin-left:2vmin;
    margin-top:2vmin;
}

.customized-card{
    box-shadow: #2d5867;
    box-shadow: 0 0 10px;

}