.customized-card-title{
    cursor: pointer;
}

#badge {
    font-size: 120%;
}

.badge-valid {
    color: rgb(255, 255, 255);
    background-color: #31b637;
}

.customized-card-values{
    color:#2d5867;
    text-align: center;
}

.customized-card-body{
    padding-right: 2%;
    padding-bottom: 2%;
}

.customized-card-title{
    color:#f5f5f5;
}