<div class="card m-4"  *ngIf="task" >
    <div class="card-header"  data-toggle="modal" [attr.data-target]="'#id'+task.getId()" (click) = "expand()" >
        <h5 class="card-title">{{task.getTitle()}}
        </h5>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
            Id :
            {{task.getId()}}
        </h6>
        <p class="card-text">
            Us associée:  {{task.getUsId()}}
        </p>
        <h5><div class="badge badge-primary text-wrap float-right mt-2" id= "badge">
            {{currentState}}
            </div></h5>
        <span *ngIf = "expanded">
            <app-expanded-task-card [task]="task" (expand) = "expand()" (stateChange) = "getCurrentDodStates()"></app-expanded-task-card>
        </span>
    </div>

</div>
