<div class="card m-4"  *ngIf="task">
    <div class="card-header">
        <h5 class="card-title" (click) = "expand()">{{task.getTitle()}}
            <span *ngIf = "expanded">
                <app-expanded-task-card [task]="task"></app-expanded-task-card>
            </span>
        </h5>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
            Id :
            {{task.getId()}}
        </h6>
        <p class="card-text">
            Us associée:  {{task.getUsId()}}
        </p>

    </div>

</div>
