<ul class="list-group">
    <div class = "row">
           <div class="col">
               <!-- Button trigger modal -->
               <button type="button" id='newbuttontask' class="btn btn-primary float-right mt-2" data-toggle="modal" data-target ="#newTask">Nouveau</button>
               <!-- Modal -->
               <div class="modal fade" id ="newTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h5 class="modal-title" id="exampleModalLabel">Ajouter une tâche</h5>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                               </button>
                           </div>
                           <div class="modal-body">
                            <form [formGroup]="form" (ngSubmit)="createTask(form.value)">
                                <div>
                                    <label for="taskId">taskId</label>
                                    <input  class="form-control" type="number" formControlName="taskId" [attr.min]="tasks.length + 1">
                                </div>
                                <div>
                                    <label for="title">title</label>
                                    <input  class="form-control" type="text" formControlName="title">
                                </div>
                                <div>
                                    <label for="usId">usId</label>
                                    <select id= "select-usId"  type = 'number' class="form-control" formControlName= "usId">
                                        <option *ngFor= "let usId of usIds" [ngValue]= "usId">{{ usId }}</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="duration">duration</label>
                                    <input  class="form-control" id="duration" type="text" formControlName="duration">
                                </div>
                                <div>
                                    <label for="status">status</label>
                                    <select id= "select-status"  class="form-control" formControlName= "status">
                                        <option value= "TODO">TODO</option>
                                        <option value= "DOING">DOING</option>
                                        <option value= "DONE">DONE</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="parents">parents</label>
                                    <select id= "select-parents"  class="form-control" formControlName= "parents">
                                        <option *ngFor= "let c of combinaisons" [ngValue]= "c">{{ c }}</option>
                                        <option value = ''> Clear </option>
                                    </select>
                                </div>
                                <div>
                                    <label for="children">children</label>
                                    <select id= "select-children"  class="form-control" formControlName= "children">
                                        <option *ngFor= "let c of combinaisons" [ngValue]= "c">{{ c }}</option>
                                        <option value = ''> Clear </option>
                                    </select>
                                </div>
                                <div>
                                    <label for="member">member</label>
                                        <select id= "select-member"  class="form-control" formControlName= "member">
                                            <option *ngFor= "let m of members" [ngValue]= "m.getUser()">{{ m.getName() }}</option>
                                        </select>
                                </div>
                                <button type="submit" class="button">Ajouter</button>
                             </form>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
    </div>
    </ul>
<app-task-container></app-task-container>
