<div class="sidebar" [class.sidebar-collapsed]="collapsed" [class.disabled]="visible">
    <div class="list-group border-0 text-center text-md-left">
        <div id="img-collapse">
            <button class="btn btn-outline-dark" (click)="collapse()" ></button>
        </div>

        <a routerLink="/backlog" routerLinkActive="active" class="list-group-item" data-toggle="collapse">
            <img src="https://i.imgur.com/dnz1iBv.png" width="50" height="50" alt=""> <span [class.disabled]="collapsed">Backlog</span>
        </a>

        <a routerLink="/tasks" routerLinkActive="active" class="list-group-item" data-parent="#sidebar">
            <img src="https://i.imgur.com/k0W5IWE.png" width="50" height="50" alt=""><span [class.disabled]="collapsed">Tâches</span>
        </a>
        <a routerLink="/planification" routerLinkActive="active" class="list-group-item" data-parent="#sidebar">
            <img src="https://i.imgur.com/whDsfSE.png" width="50" height="50" alt=""><span [class.disabled]="collapsed">Planification</span>
        </a>
        <a routerLink="/sprint-actif" routerLinkActive="active" class="list-group-item" data-parent="#sidebar">
            <img src="https://i.imgur.com/4cHPv0l.png" width="50" height="50" alt=""><span [class.disabled]="collapsed">Sprint Actif</span>
        </a>
        <a routerLink="/tests" routerLinkActive="active" class="list-group-item" data-parent="#sidebar">
            <img src="https://i.imgur.com/sOwCCf8.png" width="50" height="50" alt=""><span [class.disabled]="collapsed">Tests</span>
        </a>
        <a routerLink="/releases" routerLinkActive="active" class="list-group-item" data-parent="#sidebar">
            <img src="https://i.imgur.com/ja2hdEG.png" width="50" height="50" alt=""><span [class.disabled]="collapsed">Release</span>
        </a>
        <a routerLink="/documentation" routerLinkActive="active" class="list-group-item" data-parent="#sidebar">
            <img src="https://i.imgur.com/tVUu53Z.png" width="50" height="50" alt=""><span [class.disabled]="collapsed">Documentation</span>
        </a>
        <a routerLink="/statistics" routerLinkActive="active" class="list-group-item" data-parent="#sidebar">
            <img src="https://i.imgur.com/hm2TrBN.png" width="50" height="50" alt=""><span [class.disabled]="collapsed">Statistiques</span>
        </a>


        <a routerLink="/project" routerLinkActive="active" class="list-group-item" data-parent="#sidebar">Projets
            (a enlever)</a>
    </div>
</div>

