<h1 class ="text-center title"> Le super projet de gestion de projet</h1>
<div class ="container">
    <div class = "row">
        <div class="col-10">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <input id="search" type="text" formControlName="search" placeholder="Mots Clés">
                <button type="submit" class="button">Rechercher</button>
                <button class="button" type="button" (click)="onClick()"><i  class="fa">&#xf021;</i></button>
            </form>
        </div>
        
        <div class="col-2">
            <button class="btn btn-elegant btn-rounded btn-sm my-0" type="submit">Nouveau projet</button>
        </div>
    </div>
    <app-project-list #child> </app-project-list>
</div>

 