<div class="container " (click)="onClick()">
    <div class="row">
        <div class="col-2 us-number"><h5>US-{{us.getId()}}</h5></div>
        <div class="col-6 us-title"><h5>{{us.getDescription()}}</h5></div>
        <div class="col-2 us-values">Difficulté : {{us.getDifficulty()}}</div>
        <div class="col-2 us-values">Priorité : {{us.getPriority()}}</div>
    </div>

    <div class="row" [hidden]="!displayTask">
        <div class="col-2" *ngFor="let task of tasks">
            <app-simple-task [task]="task"></app-simple-task>
        </div>
    </div>
</div>

